@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");

.body {
  background-color: teal;
  .row {
    width: 500px;

    .box {
      background-color: white;
      .blockquote {
        h5 {
          font-weight: 400;
        }
      }

      .btn:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .footer {
      .creditos {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: black;
        i {
          color: white;
        }
      }
      a.creditos:hover {
        color: white;
        i {
          color: black;
        }
      }
    }
  }
}
